*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:lavenderblush;
font-family:cursive;
padding:10px;
}

/* Heading */

h1{
   font-size:55px;
   text-align:center;
   margin:20px auto 80px;
   padding:10px;
   background:linear-gradient(90deg,cyan,#d6d6ff,
hotpink
);
   width:90%;
}


/* Music Card */
.music{
   background:#071330;
   width:90%;
   max-width:620px;
   min-height:700px;
   margin:auto;
   padding:15px;
   border-radius:30px;
   animation:rgbLight 3s infinite alternate;
   transition:.5s;
}

.music:hover{
   transform:scale(1.02);

}


/* RGB light */

@keyframes rgbLight{

0%{
   box-shadow:0 0 50px cyan;
}

50%{
   box-shadow:0 0 60px hotpink;
}

100%{
   box-shadow:0 0 70px deepskyblue;
}
}


/* Song title */

.content h2{
   text-align:center;
   font-size:45px;
   color:white;
   padding:10px;
   background:linear-gradient(90deg,yellow,orangered,
purple,blue
);
   margin-bottom:40px;
}


/* Image */
.content img{
   display:block;
   margin:auto;
   height:260px;
   width:260px;
   border-radius:50%;
   object-fit:cover;
   animation:spin 8s linear infinite;
}

@keyframes spin{

from{
transform:rotate(0deg);
}

to{
transform:rotate(360deg);
}
}


/* Progress */
.progress-box{
   display:flex;
   align-items:center;
   gap:10px;
   margin-top:50px;
   color:white;
}

#progress{
   width:100%;
   cursor:pointer;

}


/* Controls */

.controls{
   display:flex;
   justify-content:space-between;
   align-items:center;
   margin-top:30px;
   padding:0 15px;

}

.left-icons,
.main-controls,
.right-icons{
   display:flex;
   align-items:center;
   gap:15px;
}

.controls i{
   color:white;
   font-size:24px;
   cursor:pointer;
   transition:.4s;
}

.main-controls i{
   height:65px;
   width:65px;
   display:flex;
   justify-content:center;
   align-items:center;
   background:#1e293b;
   border-radius:50%;
   box-shadow:0 0 15px cyan;
}

#playBtn{
   height:75px;
   width:75px;
   font-size:32px;
   background:linear-gradient(45deg,red,
hotpink
);
   box-shadow:0 0 25px cyan;
}

.controls i:hover{
   transform:scale(1.1);
   color:cyan;

}


/* Volume */

.volume-box{
   display:flex;
   align-items:center;
   gap:10px;
   margin-top:30px;
   margin-left: 350px;
   padding-left:20px;
   color:white;

}

.volume-box i{
   font-size:22px;
   color:cyan;

}

#volume{
   width:120px;
   cursor:pointer;

}
